@keyframes marker_blink {
    0% {
        color:white;
    }
    50% {
        color: red;
    }
}

@keyframes loaderSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}