@media only screen and (min-width: 1100px) {
    #historyListContainer {
        top:50%;
        width:50%;
    }

    #routeContainer {
        position: fixed;
        right:0;
        width:35vw;
        height:100vh;
    }

    #routeContainer > div > details > summary {
        font-size: 1.8em;
    }

    #routeEdges {
        font-size:1.2em;
    }

    .edgesHeader {
        font-size: 1.2em;
    }

    .edgesHeader:hover {
        font-size: 1.4em;
    }

    footer {
        bottom: 15px;
        left: 15px;
        transform: translateX(0);
        width:auto;
    }

    #errorContainer {
        height: 25%;
        width: 30%;
    }

    .leaflet-control-zoom {
        margin-top: 40px !important;
    }
}