body{
    margin:0;
    padding:0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

noscript {
    width:300px;
    font-size: 1.1em;
    position: fixed;
    left:50%;
    top:50%;
    text-align: center;
    border-radius: 5px;
    padding: 2%;
    color:white;
    transform: translate(-50%, -70%);
}

#inputField{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    left:50%;
    top:2%;
    transform: translateX(-50%);
    border-radius: 5px;
}

#inputField > * {
    padding:10px;
}

input[type="submit"]{
	border: none;
	cursor: pointer;
	outline: none;
}

.formInput {
    border-radius: 5px;
    font-size: 1.4em;
    border: none;
	outline: none;
    background-color: transparent;
    border:1px solid transparent;
    transition:0.3s;
    color:rgb(223, 223, 223);
}

.formInput:focus {
    border:1px solid grey;
}

#searchIcon {
    border-left:1px solid transparent;
    font-size:1.7em;
    cursor: pointer;
    transition:0.3s;
}

#searchIcon:hover {
    border-left:1px solid grey;
    color:white;
}

#map { 
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0; 
}

.leaflet-touch .leaflet-bar a {
    color: grey;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 3px grey;
}

.leaflet-touch .leaflet-bar a:hover {
    color: white;
    box-shadow: 0px 0px 3px white;
}

#openCloseList {
    width: 100%;
    height: 3%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor:pointer;
}

.map_container {
    box-shadow: 0px 0px 5px grey;
}

#routeContainer {
    position: fixed;
    right:0;
    top:97%;
    width:35vw;
    color: white;
    height:100vh;
    transition: 0.5s;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.8);
}

#routeContainer > h3 {
    font-weight: 900;
    padding:20px;
    margin:0;
    margin-bottom:20px;
    text-align: center;
}

#routeEdges {
    height:auto;
    width: 100%;
    font-size:1.2em;
    box-shadow: 0px 0px 3px grey;
    margin-bottom: 5vh;
    text-align: center;
}

.edgesInfo {
    margin-bottom: 2vh;
    border-bottom: 1px solid grey;
}

#routeEdges > .edgesInfo {
    color: white;
}

.edgesHeader {
    padding:2%;
    font-size: 1.2em;
    font-weight: 900;
    transition: 0.3s;
    cursor:pointer;
}

.edgesHeader:hover {
    box-shadow:0px 0px 5px white;
    font-size: 1.4em;
}

.edgesInfo > .edgesWrapper {
    display: flex;
    flex-direction: row;
}

.edgesInfo > .edgesWrapper > span {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.edgesWrapper > span > span {
    box-shadow:0px 0px 3px grey;
    padding:2%;
}

#routeList {
    padding:10px;
}

.route {
    font-size:1.1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.route:hover {
    box-shadow: 0px 0px 5px white;
}

.route > *{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.route > legend {
    border:none;
    padding:0;
    margin:0;
    width:auto;
    color: white;
}

.route span {
    box-shadow: 0px 0px 5px grey;
}

.customeMarker {
    width: 3rem;
    height: 3rem;
    display: block;
    left: -1.5rem;
    top: -1.5rem;
    position: relative;
    border-radius: 3rem 3rem 0;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF;
}

.markerNum {
    transform: rotate(-45deg);
    font-size: 16px;
    position: relative;
    font-weight: 900;
    left: 0.5em;
    top: -0.2em;
    text-shadow: 0px 0px 3px black;
}

.markerBlinking {
    animation: marker_blink 2s linear;
}

.markerNum a {
    color: white !important;
}

.markerNum a:hover {
    text-shadow: 0px 0px 5px black;
}

footer {
    padding:10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom:15px;
    left:15px;
    display: inline;
}

footer * {
    display: block;
    font-weight: 900;
    color:rgba(255, 255, 255, 0.644);
}

footer > .footerHeader > *{
    display:inline;
}

footer a {
    display: inline;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s;
}

footer a:hover {
    text-decoration: none;
    color:white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    max-height:10px;
}

/* Track */
::-webkit-scrollbar-track {
	background:rgba(36, 36, 36, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(180, 180, 180); 
}
