<html>
	<head>
		<title>Route Tracer - v1.0</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/external/leaflet/leaflet.css"/>
		<script src="/external/leaflet/leaflet.js"></script>
		<script src="/external/leaflet/plugins/leaflet.curve.js"></script>
		<link href="/css/animations.css" rel="stylesheet"/>
		<link href="/css/utilities.css" rel="stylesheet"/>
		<link href="/css/desktop.css" rel="stylesheet"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<noscript>Please enable Javascript for this website. It needs Javascript to perform its magic!</noscript>
		<div id="map"></div>
		<div id="inputField" class="map_container">
			<input required id="domainName" class="formInput" placeholder="domainName.com" autocomplete="off"/>
			<span title="Trace Route" class="glyphicon glyphicon-search clickable" id="searchIcon" onclick="initiate()"></span>
			<span title="Route History Page" id="historyIcon" onclick="openHistory()" class="glyphicon glyphicon-book clickable"></span>
		</div>
	
		<img title="Source Code" id="githubIcon" class="socialMediaIcon clickable map_container" src="icon/GitHub_32.png" alt="Github Logo" onclick="window.open('https://github.com/Leonlit/routeInfo', '_blank')"/>

		<div id="historyShader" class="shader" onclick="closeHistory()"></div>
			<div id="historyListContainer" class="map_container">
			<div></div>
			<span class="closeBtn clickable" onclick="closeHistory()">X</span>
			<div id="historyList">
				<div class="historyItem">
					<span class="historyName clickable">Please enable Javascript!</span>
					<span class="historyDate">24/3/21</span>
				</div>
			</div>
		</div>

		<div id="routeContainer" class="map_container">
			<div title="Route details" id="openCloseList" class="map_container clickable" onclick="openCloseRouteList()"></div>
			<div id="routeWrapper">
				<details class="clickable">
					<summary class="map_container">Route Connections</summary>
					<div id="routeEdges"></div>
				</details>
				<details class="clickable">
					<summary class="map_container">Route List</summary>
					<div id="routeList"><h3 style="text-align: center;">None</h3></div>
				</details>
			</div>
		</div>
		<footer class="map_container">
			<span id="showing"></span>
			<span class="footerHeader">
				<h2><a>Route Tracer</a></h2>
				<h5>v1.0</h5>
			</span>
		</footer>

		<div id="loaderShader" class="shader">
			<div class="loader"></div>
		</div>
		<div id="errorShader" onclick="closeError()" class="shader">
			<div id="errorContainer" class="map_container"></div>
		</div>
	</body>
</html>

<script src="/js/animation.js"></script>
<script src="/js/animatingTrace.js"></script>
<script src="/js/historyManager.js"></script>
<script src="/js/index.js"></script>
<script src="/js/errorHandling.js"></script>
