<html>
	<head>
		<title>Route Tracer - v0.1</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/external/leaflet/leaflet.css"/>
		<script src="/external/leaflet/leaflet.js"></script>
		<script src="/external/leaflet/plugins/leaflet.curve.js"></script>
		<link href="/css/animations.css" rel="stylesheet"/>
		<link href="/css/index.css" rel="stylesheet"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<noscript>Please enable Javascript for this website. It needs Javascript to perform its magic!</noscript>
		<div id="map"></div>
		<form id="inputField" class="map_container" onsubmit="initiate()">
			<input required type="url" id="domainName" class="formInput" placeholder="www.google.com" autocomplete="off"/>
			<span class="glyphicon glyphicon-search" id="searchIcon" onclick="initiate()"></span>
		</form>

		<div id="routeContainer" class="map_container">
			<div id="openCloseList" class="map_container" onclick="openCloseRouteList()"></div>
			<div id="routeWrapper">
				<details>
					<summary class="map_container">Route Connections</summary>
					<div id="routeEdges"></div>
				</details>
				<details>
					<summary class="map_container">Route List</summary>
					<div id="routeList"><h3 style="text-align: center;">None</h3></div>
				</details>
			</div>
		</div>
		<footer class="map_container">
			<span class="footerHeader">
				<h2><a>Route Tracer</a></h2>
				<h5>v1.0</h5>
			</span>
			<span><a>source code</a></span>
			<span></span>
		</footer>

		<div class="loaderShader">
			<div class="loader"></div>
		</div>

	</body>
</html>

<script src="/js/animation.js"></script>
<script src="/js/animatingTrace.js"></script>
<script src="/js/index.js"></script>
<script src="/js/errorHandling.js"></script>