<html>
	<head>
		<title>Route Tracer - v0.1</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="anonymous" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link href="css/index.css" rel="stylesheet"/>
	</head>
	<body>
		<div id="mapid"></div>
		<h1>Route Tracer - v0.5</h1>
		<form id="inputField" onsubmit="initiate()">
			<input required type="url" id="domainName" class="formInput" placeholder="www.google.com" autocomplete="off"/>
			<div class="glyphicon glyphicon-search" id="searchIcon"></div>
		</form>
	</body>
</html>

<script src="/js/index.js"></script>
<script src="/js/errorHandling.js"></script>
<script>
	let map = L.map('mapid').setView([51.505, -0.09], 13);
	// Creating a Layer object
	var layer = new L.TileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png');
    // Adding layer to the map
    map.addLayer(layer);
</script>